  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Mono&display=swap');

  body{
    background-color: #1C203B;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

main{
    padding: 20px;/**/
}

.main-index{
padding: 0;/**/
}
/********************************************

                    header

*********************************************/
header{
    background-color: #2E3560;
    height: 80px;
}

header > a >img{
    height: 60px;
    margin-top: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fa-cart-shopping{
    color: #BFCFFD;
    font-size: 35px;
    margin: 22.5px;
    position: absolute;
    right: 0;
}

.fa-cart-shopping:hover {
    color: #9FB8FF;

}

.checkbox-label {
    height: 30px;
    width: 35px;
    margin: 25px 22.5px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

.ham-div {
    height: 30px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 22.5px;
    position: absolute;
}

.ham-div > div{
    background-color: #BFCFFD;
    width: 35px;
    border-radius: 50px;
    height: 5.8px;
    position: relative;
    transform:rotate(0deg);
}

#menu-checkbox:checked ~ .ham-div > .ham-div-1{
    animation-name: ham1;
    animation-duration: 500ms;
    transform-origin: left;
    animation-fill-mode: forwards;
}


#menu-checkbox:checked ~ .ham-div > .ham-div-3{
    animation-name: ham3;
    animation-duration: 500ms ;
    transform-origin:  left;
    animation-fill-mode: forwards;
}

#menu-checkbox:checked ~ .ham-div > .ham-div-2{
    animation-name: ham2;
    animation-duration: 500ms;
    transform-origin:  center;
    animation-fill-mode: forwards;
    /*background-color: black;/**/
}


@keyframes ham1{
    from {
        transform: rotate(0);
        top: 0;
    }
    
    to{
        transform: rotate(45deg);
        top: -1px;
    }
    }/**/
    

@keyframes ham2{
0% {
    transform: rotate(0);
    right:0;
    opacity: 100%;
}

50%{
    opacity: 100%;
    right: 3.4px;
}

100%{
    transform: rotate(45deg);
    right: 6.8px;
    opacity: 0;
  
}
}/**/

@keyframes ham3{
    from {
        transform: rotate(0);
    }
    
    to{
        transform: rotate(-45deg);
    }
    }/**/






/*Dette er for hamburger menyen*/
.drop-down-menu > a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: #2E3560;
    padding: 20px;
    border-bottom: solid #1C203B 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.drop-down-menu > a:hover{
    
    background-color: #1C203B;
}

.fa-chevron-right{
    position: absolute;
    right: 20px;
}

.home-link{
    border-top: solid #1C203B 4px;
}

.drop-down-menu{
    position: absolute;
    background-color:#2E3560 ;
    height: 100%;
    width: 95%;
    top: 80px;
    z-index: 99;
    left: -95%;
    
}

#menu-checkbox{
    display: none;
}/**/

#menu-checkbox ~ .drop-down-menu{
    transition: all ease-in-out 500ms;
}

#menu-checkbox:checked ~ .drop-down-menu{
    transition: all ease-in-out 500ms;
    left: 0;
}

.abonner-ham-menu > label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.abonner-ham-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px; 
}

.abonner-ham-menu > input{
    background-color: #1C203B;
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.abonner-ham-menu > input::placeholder{
    color: #BFCFFD;
}

.abonner-ham-menu > input:focus{
    border: 0px;
    outline: none;
    color: white;
}

.abonner-ham-menu > .abonner-button{
    background-color: #1C203B;
    height: 42px;
    width:90px;
    border-radius: 50px;
    border: solid 2px #BFCFFD;
    color: #BFCFFD;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.abonner-ham-menu > .abonner-button:hover{
    background-color: #BFCFFD;
    color:#1C203B;
}




/********************************************

                    main

*********************************************/

h1{
    color: #BFCFFD;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    margin: 0;
}

h2{
    color: #BFCFFD;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    margin: 0;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}
#salg{
    color: #FF7A00;
}

.salg-farge{
    color: #FF7A00;
}

.spill-container{
    height: 460px;
    width: 350px;
    background-color: #2E3560;
    margin: 0 0 20px 0;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.link-spill-container:hover .spill-container > img{
    height: 353px;
    margin-bottom: 0px;
}

.spill-container > img{
    height: 333px;
    align-self: center;
    margin-bottom: 20px;
    transition: ease-in-out 250ms;
}
.spill-container > p{
    text-decoration: none;
    color: white;
    margin-top:20px;
    margin-bottom: 0px;
}

.link-spill-container{
    text-decoration: none;
}

#product-desktop-only{
    display: none;
}

.pris{
font-weight: bold;
}

/*Dette er hovedsakelig for index.html*/

.main-index{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-index > h2{
  transform: translateX(-30%);
  margin: 0 0 20px 0 ;
}

.hero{
    background-color: #2E3560;
    height: 280px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;/**/
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 20px 0;    
}

.hero > img{
    height: 250px;
    transform: rotate(9deg);
    align-self: center;
}

.hero > div {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > div > h1{
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 21px;
    margin-top: 25px;
}


.hero > div > p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 25px
}

.hero > div > a{
    font-family: 'Roboto', sans-serif;
    color: #1C203B;
    text-decoration: none;
    background-color: #BFCFFD;
    padding:  10px 18px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin: 35px 0;
    font-weight: 600;
}

.hero > div > a:hover{
    background-color: #9FB8FF;
}

/*Dette er for spill*/

.spill-informasjon{
    width: 85%;
    max-width: 900px;

}

.main-spill{
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spill-des{
    color: white;
}

.spill-informasjon > h1{
    margin: 0px;
}/**/

.spill-informasjon > p{
    margin: 20px 0 20px 0;
}

.alle-spill-container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Dette er for om oss*/
.main-om-oss{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-om-oss > img{
width: 100%;
max-width: 700px;
margin: 0;
}

.main-om-oss > h1 {
   margin: 20px 0 0 0;
   font-size: 35px;
}

.main-om-oss > p{
    width: 100%;
    margin: 20px 0 0 0;
}

.om-oss-bottom-p-tag{
    padding-bottom: 20px;
}
/*Dette er for kontakt oss*/

.main-kontakt-oss > div{
    background-color: #2E3560;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
}
.main-kontakt-oss > div > p{
    margin: 0;
    font-size: 23px;
}



/*Dette er for handlekurv*/
.main-handlekurv{
    display: flex;
    flex-direction: column;

}
.main-handlekurv > a > div > img{
height: 100px;
}

.main-handlekurv > a{
    text-decoration: none;
}

.main-handlekurv > a > div{
    display: flex;
    flex-direction: row;
    border-top: #2E3560 solid 3px;
    border-bottom: #2E3560 solid 3px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 120px;
    margin: 20px;

}

.main-handlekurv > a > div > p {
    font-size: 16px;
}



.kasse-button {
    color: #1C203B;
    background-color: #BFCFFD;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-self: center;
    width: 300px;
    margin: 20px;
    font-weight: 600;
}

.kasse-button:hover{
    background-color: #9FB8FF;
}

.main-handlekurv > p{
align-self: flex-end;
margin: 20px 20px 20px 20px;
font-weight: bold;
}


/********
Dette er for spill side
********/

.produkt-beskrivelse{
    background-color: #2E3560;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.produkt-beskrivelse > ul{
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.spillside-left, .spillside-right{
    display: flex;
    flex-direction: column;
}

.spillside-left > img{
width: 260px;
align-self: center;
margin-top: 20px;
}

.pris-div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.orginal-pris{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0px;
    font-size: 10px;
    font-weight: 500;
}

.nå-pris{
    grid-column: 1/2;
    grid-row: 2/2;
    margin: 0;
    
    font-size: 23px;
}

.salg{
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 0;
    text-align: end;
    font-size: 23px;
}

.spillside-right > a {
    background-color: #BFCFFD;
    color: #1C203B;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    align-self: center;
    width: 300px;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.spillside-right > a:hover{
    background-color: #9FB8FF;
}

.main-spillside h1{
    font-size: 31px;
}

/********************************************

                    footer

*********************************************/

footer{
    background-color: #2E3560;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer > nav{
display: flex;
flex-direction: column;
height: 110px;
/*background-color: black;/**/
justify-content: center;
margin:25px 0 0 20px;
width: 100px;
}

.footer-left{
    margin-top: 25px;
}

footer > nav > a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

footer > nav > a:hover {
    text-decoration: underline;
}

.abonner-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
   
}

.abonner-footer > label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.abonner-footer > input{
    background-color: #1C203B;
    color: white;
    height: 40px;
    width: 250px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.abonner-footer > input::placeholder{
    color: #BFCFFD;
}

.abonner-footer > input:focus{
    border: 0;
    outline: none;
    color: white;
}

.abonner-footer > .abonner-button{
    background-color: #1C203B;
    height: 42px;
    width:90px;
    border-radius: 50px;
    border: solid 2px #BFCFFD;
    color: #BFCFFD;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;
    right: -111px;
    bottom: 52px;
}

.abonner-footer > .abonner-button:hover{
    background-color: #BFCFFD;
    color:#1C203B;
}

.footer-left >  p {
color: white;
font-family: 'Roboto', sans-serif;
font-size: 12px;
opacity: 50%;
padding-right: 20px;
width: 320px;
text-align: center;
margin: 0;
}

/********************************************

                    mediaqiuries

*********************************************/

@media screen and (min-width:576px){
    

    h1{
        font-size: 45px;
    }
    
    h2{
        font-size: 30px;
    }

    /*******
    Spillcontainere
    *******/

    .spill-container{
        transform: scale(0.666);
        margin: -51px;
        position: relative;
        left: -13px;
    }
    .populære-spill{
        display: grid;
        grid-template-columns: auto auto;
        width: 550px;
    }

    /*******
    index side
    *******/

    .main-index > h2{
        margin-bottom: 0px;
    }

    .hero{
        height: 350px;
        width: 550px;
    }
    
    .hero > img{
        height: 330px;
    }
    
    .hero > div > h2{
        font-size: 27px;
        margin-top: 42px;
    }
    
    
    .hero > div > p{
        font-size: 21px;
        margin-top: 42px
    }
    
    .hero > div > a{
        padding:  15px 22px;
        font-size: 20px;
        margin: 30px 0;
    }
    /*******
    index side
    *******/

.alle-spill-container{
        display: grid;
        grid-template-columns: auto auto;
        width: 550px;
        margin-top: 10px;
    }

    .main-spill .spill-container{
        margin-top: -87px ;
    }

    .main-spill{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-spill > h1{
        align-self: flex-start;

    }

    .spill-des{
        align-self: flex-start;
    }

    /*********  
    om oss og kontakt oss og spillside og handlekurv
    *********/
    .main-kontakt-oss, .main-om-oss, .main-spillside, .main-handlekurv{
        padding: 20px 50px;
    }

    .kasse-button {
        align-self: flex-end;
        width: 200px;
    }
}

@media screen and (min-width:768px){
   
    
    main{
        margin: 20px 70px;
    }

    /********
    dette er for header
    ********/
    header{
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header > a >img{
        height: 60px;
        margin: 0 20px;
        position: static;
        transform: translateX(0);
    }

    .fa-cart-shopping{
        font-size: 50px;
        margin: 0 20px ;
        position: static;
        right: 0;
    }
    
    
    .checkbox-label, .ham-div {
        display: none;
    
    }
    
 
    /*Dette er for hamburger menyen*/
    .drop-down-menu > a{
        text-align: center;
        width: 90px;
        display: flex;
        flex-direction: column;
        background: none;
        border-radius: 10px;
        border-bottom: none;
        font-size: 17px;
    }
    

    
    .fa-chevron-right{
       display: none;
       opacity: 0;
       z-index: -1;
    }
    
    .home-link{
        border-top: none;
    }
    
    .drop-down-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: none;
        position: static;
        height: 120px;
        width: 70%;
    }
    
    #menu-checkbox{
        display: none;
    }/**/
    
    #menu-checkbox ~ .drop-down-menu{
        transition: all ease-in-out 500ms;
    }
    
    #menu-checkbox:checked ~ .drop-down-menu{
        transition: all ease-in-out 500ms;
        left: 0;
    }
    
    .abonner-ham-menu > label{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    
    .abonner-ham-menu{
        display: none; 
    }
    
    
    /********
    Dette er for index main
    ********/

    .hero{
        height: 400px;
        width: 85%;
        max-width: 1250px ;
    }
    
    .hero > img{
        height: 380px;
        justify-self:center
    }
    
    .hero > div > h2{
        font-size: 27px;
        margin-top: 42px;
    }
    
    
    .hero > div > p{
        font-size: 21px;
        margin-top: 42px
    }
    
    .hero > div > a{
        padding:  15px 22px;
        font-size: 20px;
        margin: 30px 0;
    }



    .main-index > .spill-container{
        transform: scale(1);
        margin: 20px;
        position: static;
        left:0;
    }
    .populære-spill{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: 85%;
        max-width: 838px;
    }
    #product-desktop-only{
        display: block;
    }


/********
Dette er for spill siden
********/


}

@media screen and (min-width:990px){

    .alle-spill-container{
        display: grid;
        grid-template-columns: auto auto auto;
        width: auto;
        margin-top: 10px;
    }
    .main-spillside{
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .spillside-left, .spillside-right{
        justify-self: center;
    }
    
    .spillside-left{
        margin-right: 60px;
    }
    
    .spillside-right{
        max-width: 500px;
    }
    .spillside-left > h2{
      position: absolute;
    }
    
    .spillside-left > img{
    width: 300px;
    align-self: center;
    position: relative;
    top: 100px;
    }
}

@media screen and (min-width:1100px){
   

    .drop-down-menu > a{
        width: 120px;
        font-size: 22px;
    }

    
}
